/* * seleciona TODOS os elementos da página */
* {
    margin: 0;
    /* remove margens padrão */
    padding: 0;
    /* remove espaçamentos internos padrão */
    box-sizing: border-box;
    /* faz largura/altura incluir padding e borda */
    font-family: Arial, Helvetica, sans-serif;
    /* define a fonte */
}

body {
    height: 100vh;
    /* altura da tela inteira (100% da altura da tela) */
}

.container {
    display: flex;
    /* coloca os elementos lado a lado */
    height: 100vh;
    /* ocupa a tela inteira */
}

/* METADE DA IMAGEM */
.image-box {
    width: 65%;
    /* ocupa metade da tela */
    background-image: url("gremioindex.jpg");
    /* imagem de fundo */
    background-size: cover;
    /* faz a imagem cobrir tudo */
    background-position: center;
    /* centraliza a imagem */
}

/* METADE DO LOGIN */
.login-box {
    width: 35%;
    /* ocupa a outra metade */
    display: flex;
    /* ativa o flexbox */
    flex-direction: column;
    /* organiza os itens em coluna */
    justify-content: center;
    /* centraliza verticalmente */
    padding: 60px;
    /* espaço interno */
    background: linear-gradient(135deg, #000000 0%, #004785 70%, #009dff 100%);
    color: #ffffff;
    border-radius: 10px;
}

.login-box h1 {
    margin-bottom: 50px;
    /* espaço abaixo do título */
}

.login-box h3 {
    margin-bottom: 30px;
    /* espaço abaixo do subtítulo */
    color: #ffffff;
    /* cor cinza clara */
}

form {
    display: flex;
    /* ativa flexbox */
    flex-direction: column;
    /* deixa os inputs um embaixo do outro */
}

input {
    padding: 10px;
    /* espaço dentro do campo */
    margin-bottom: 15px;
    /* espaço entre os campos */
    border: none;
    /* remove borda padrão */
    border-radius: 11px;
    /* deixa as bordas arredondadas */
}

button {
    padding: 10px;
    /* espaço interno */
    background-color: #0374ff;
    /* azul estilo grêmio */
    border: none;
    /* remove borda */
    color: #ccc;
    /* texto branco */
    font-weight: bold;
    /* texto em negrito */
    border-radius: 10px;
    /* borda arredondada */
    cursor: pointer;
    /* muda o cursor pra mãozinha */
}

button:hover {
    background-color: #022283;
    /* muda a cor quando passa o mouse */
}

a {
    color: #009cde;
    /* cor do link */
    text-decoration: none;
    /* remove sublinhado */
}

p {
    margin-top: 10px;
    /* espaço acima dos parágrafos */
}